@import "tailwindcss";

:root {
  --atualizador: 1; /* Não remover esta linha - usada para forçar atualização de cache */

  --branco: #fefdff;
  --preto: #19232a;
  --azul: #0065b4;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-branco: var(--branco);
  --color-preto: var(--preto);
  --color-azul: var(--azul);
}

@media (prefers-color-scheme: dark) {
  :root {
    --branco: #fefdff;
    --preto: #19232a;
    --azul: #0065b4;
  }
}

body {
  background: var(--branco);
  color: var(--preto);
  font-family: Arial, Helvetica, sans-serif;
}
