@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --branco: #ffffff;
  --preto: #000000;
  --azul: #0065b4;
  --azul-escuro: #003b75;
  --atualizador:0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-branco: var(--branco);
  --color-preto: var(--preto);
  --color-azul: var(--azul);
  --color-azul-escuro: var(--azul-escuro);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --branco: #ffffff;
    --preto: #000000;
    --azul: #0065b4;
    --azul-escuro: #003b75;
  }
}

body {
  background: var(--branco);
  color: var(--preto);
  font-family: Arial, Helvetica, sans-serif;
}
